.recover-password-component {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.recover-password-component .label {
  color: #000;
}

.recover-password-component .form-box {
  width: 450px;
  height: 280px;
  background-color: #f6f8eb;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 2%;
  align-items: center;
}

.recover-password-component .body-form {
  width: 60%;
}

.recover-password-component button {
  margin-top: 20px;
  margin-bottom: 10px;
}

.recover-password-component .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

.recover-password-component .heading {
  text-align: center;
  color: #000;
}

.recover-password-component .form-control {
  width: 100%;
}

.recover-password-component .btn {
  background: #687808;
  color: #ffff;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border: 0;
}
