.recover-password-component {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
}

.recover-password-component .label {
  color: #000;
  font-weight: bold;
  margin-bottom: 3px;
}

.recover-password-component .form-box {
  width: 600px;
  height: 360px;
  background-color: #f6f8eb;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 2%;
  align-items: center;
}

.recover-password-component .body-form {
  width: 60%;
}

.recover-password-component .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

.recover-password-component .heading {
  text-align: center;
  color: #000;
  margin-bottom: 2rem;
}

.recover-password-component .form-control {
  width: 100%;
  margin: 3px auto 3rem auto;
  border-radius: 3px;
  padding: 4px;
  border: 1px solid grey;
}

.recover-password-component .btn {
  background: #687808;
  color: #ffff;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border: 0;
  font-weight: bold;
}
