

.shop-cart {
  margin: 50px auto;
  padding: 0 30px;
   width:auto; 
}
.heading {
  text-align: center
}
.empty-shop-cart {
  font-size: large;
  font-weight: bolder;
  margin: 50px;
  margin-left: 550px;
  padding: 0;
  width: auto;
  color: black;
}
