footer {
  text-align: center;
  background-color: #687808;
  width: 100%;
  bottom: 0;
  position: relative;
  padding: 2px;
  color: white;
  padding-bottom: 5rem;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.footer-list {
  position: relative;
  display: flex;
  padding: 0 3rem;
}

.logo img {
  width: 126px;
  height: 75px;
}

.footer-text {
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer-text p {
  font-size: 1.2rem;
  font-weight: 700;
}

.footer-text a {
  color: white;
  list-style: none;
  text-decoration: none;
  margin-right: auto;
  font-size: 1.125rem;
  font-weight: 400;
}

.footer-input {
  position: relative;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-input input {
  display: block;
  background-color: rgb(73, 128, 52);
  opacity: 0.6;
  border-radius: 8px;
  border: 0.5px solid black;
  width: 255px;
  color: white;
  font-size: medium;
  height: 40px;
  z-index: 2;
  padding: 1rem;
}

.footer-input img {
  position: absolute;
  top: 10px;
  width: 20px;
  right: 15px;
}

.right-part-footer {
  display: flex;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */

  color: white;
  opacity: 1; /* Firefox */
  z-index: 3;
}

::-ms-input-placeholder {
  /* Microsoft Edge */

  color: white;
  z-index: 3;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */

  color: white;
  z-index: 3;
}

@media (max-width: 1024px) {
  footer {
    display: block;
    padding: auto;
  }

  .logo img {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 768px) {
  footer {
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .right-part-footer {
    display: flex;
    flex-direction: column;
  }

  .footer-text {
    padding: 2em;
  }

  .logo img {
    float: left;
    margin-left: 35px;
    width: 80%;
    height: auto;
  }

  footer ul {
    display: block;
  }
}

@media (max-width: 400px) {
  footer {
    padding: auto;
    display: flex;
    justify-content: center;
  }

  .right-part-footer {
    display: flex;
    flex-direction: column;
  }

  .logo img {
    float: left;
    margin-left: 16px;
    width: 80%;
    height: auto;
  }

  .footer-text {
    padding: 1em;
  }
  .footer-list {
    padding: 0;
  }

  footer ul {
    display: block;
  }

  h4 {
    font-size: 1rem;
  }
}
