.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.top-image {
  display: flex;
}

.top-image img {
  width: 100vw;
}

.offer-banner {
  /* position: relative;
  padding: 8em;
  margin-top: -9em; */
  width: 100%;
  display: flex;
  flex-direction: column;

  /* align-items: stretch;
  justify-content: center;
  align-content: center; */

  padding-inline: 5rem;
  margin-bottom: 3rem;
}

.offer-banner h4 {
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
  font-size: 2rem;
}

.offer-banner1 {
  background-image: url('../../assets/images/image_27.png');
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 195px;
}

.special-offer-link-container {
  display: flex;
}

.offer-banner1 a {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  background: #fff;
  opacity: 0.75;
  border-radius: 5px;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 15px 60px;
}

.offer-banner1 a:hover {
  background-color: rgb(218, 214, 214);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .offer-banner1 img {
    width: 700px;
  }

  .offer-banner1 a {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .offer-banner {
    padding: unset;
  }

  .offer-banner1 img {
    /* width: 500px;
    height: auto; */
  }

  h4 {
    font-size: 1em;
  }

  .offer-banner1 a {
    font-size: 12px;
    padding: 4px 8px;
  }
}

@media (max-width: 400px) {
  .offer-banner {
    padding: unset;
  }

  .offer-banner1 img {
    width: 400px;
    height: 50px;
  }

  h4 {
    font-size: 0.8em;
  }

  .offer-banner1 a {
    font-size: 12px;
    padding: 4px 8px;
  }
}
