.detail-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-left: 100px;
  padding: 0;
}
.detail-container > div {
  margin: 10px;
}

.cart-container {
  width: 650px;
  padding: 0;
  margin: -20px 0 0 -35px;
}

.cart-product-container {
  display: flex;
  flex-direction: row;
  width: 646px;
  padding: 30px;
  background-color: #fff;
  justify-content: space-between;
}

.image-discount-box {
  position: relative;
}
.add_cart_button {
  margin-top: auto;
  padding: 5px;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100px;
  padding-left: 100px;
}

.discount {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 37px;
  background-color: #fff;
  opacity: 0.8;
  border: 1px solid #9b8d8d;
  font-size: 1rem;
  font-weight: bolder;
  color: black;
  padding: 5px;
}

.discounted_price {
  display: flex;
  flex-direction: row;
  color: black;
  font-weight: bolder;
}

.line {
  height: 1px;
  background: #687808;
  margin: 0 30px 40px 30px;
}

.cart-list {
  list-style: none;
}

.counter-section {
  display: flex;
  flex-direction: row;
  color: black;
}

.product_name {
  color: #687808;
  font-weight: bolder;
}

.name-counter-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: auto;
  padding-left: 30px;
  justify-content: space-between;
}

.qty-text {
  padding-right: 5px;
  color: black;
}

.counter-box {
  border: 2px solid #687808;
  width: 60px;
  height: 20px;
  text-align: center;
  color: black;
  font-weight: bolder;
}

.counter-button {
  background: rgb(240, 236, 236);
  border: none;
  font-weight: bolder;
}

.product_image {
  width: 100px;
  height: 100px;
}
.currency-field {
  margin-left: 5px;
  margin-right: 5px;
}

.close-button {
  border-radius: 50%;
  margin-top: 0;
  color: black;
  background-color: #fff;
  justify-content: normal;
  font-weight: bolder;
}
.cart-detail-container {
  display: flex;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1);

  background-color: beige;

  height: fit-content;

  flex-direction: column;

  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.cart-detail-container > div {
  margin: 5px;
  width: 200px;
  color: black;
}
.proceed-payment {
  background-color: #687804;
  margin: 15px;
}
.right-div {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}
.right-div > div {
  margin: 10px;
}

.continue-shop {
  background-color: #687804;
  margin: 20px;
}
.parent-div {
  display: flex;
  flex-direction: column;
}
.parent-div > div {
  margin: 15px 40px;
}
.user-detail {
  background-color: beige;
  padding: 20px;
  margin-left: 30px;
  color: black;
  font-weight: bolder;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1);
  width: fit-content;
}
.user-detail > div {
  margin: 10px;
  color: black;
}
.user-detail h3 {
  font-weight: bolder;
}
.delivery-info {
  background-color: beige;
  padding: 20px;
  color: black;
  font-weight: bolder;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1);
  width: fit-content;
}
.delivery-info > div {
  margin: 10px;
  color: black;
}
.delivery-info h3 {
  font-weight: bolder;
}

.total-price {
  margin-left: 4px;
  margin-right: 4px;
}
.total-discount {
  margin-left: 4px;
  margin-right: 4px;
}
.total-payment {
  margin-left: 4px;
  margin-right: 4px;
}
.user-field {
  margin-left: 5px;
  margin-right: 5px;
}
.edit-details {
  display: flex;
  flex-direction: row;
}
.edit-details > div {
  margin: auto;
  color: black;
}
.edit-field {
  margin-left: 150px;
}
