.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  background: green;
  color: white;
  text-transform: uppercase;
}

.menu .menu-item {
  color: white;
  padding: 1rem;
  border: 1px solid black;
}
