.confirmation-page .wrapper {
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: column;
  border: none;
  text-align: center;
}

.confirmation-page .wrapper h3 {
  margin-left: 6rem;
}

.confirmation-page .wrapper-content {
  width: 90%;
  font-size: 1.2rem;
  padding: 2rem 0 2rem 4rem;
  margin-left: auto;
  background-color: lightgray;
}

.confirmation-page .btn {
  margin-top: 1rem;
  margin-left: 40%;
}
