.page404 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.page404 .btn {
  background: #687808;
  color: #ffff;
  border: none;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 130%;
  font-family: Arial, Helvetica, sans-serif;
}

.page404 .link {
  text-decoration: none;
}
.page404 .alert {
  color: black;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
