nav {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  column-gap: 12px;
}

.pagination button {
  border: 1px solid gray;
  cursor: pointer;
  height: auto;
  font-weight: bold;
  border-radius: 50%;
}

.pagination .arrows {
  font-size: 100%;
  color: #687808;
}

.pagination button.active {
  background-color: #687808;
  color: white;
}

.pagination button:hover:not(.active):not(button[disabled]) {
  background-color: white;
  color: black;
}
