/* div {
  color: #687808;
} */

.favorite-list {
  margin: 50px;
  padding: 0;
  width: 40%;
}
.fav-heading {
  text-align: center;
}

.favorites {
  margin: 50px;
  padding: 0;
  width: 40%;
}

.empty-fav-list {
  font-size: large;
  font-weight: bolder;
  margin: 50px;
  margin-left: 550px;
  padding: 0;
  width: 40%;
  color: black;
}
