.orders-view .order-item {
  border: solid white 3px;
  background-color: #f6f8eb;
  margin-bottom: 15px;
}

.orders-view button {
  border: none;
  background-color: #f6f8eb;
}
.orders-view img {
  width: 60px;
  height: 60px;
}

.orders-view .flex-container {
  display: flex;
  justify-content: space-around;
}

.orders-view .flex-container > div {
  margin: 0 10px;
  padding: 0 20px;
}
.orders-view span {
  font-size: small;
}

.orders-view .flex-container2 {
  justify-content: center;
  align-items: center;
}
