nav {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.logo-icon {
  float: left;
  cursor: pointer;
  padding-top: 0.5rem;
  margin-left: 5rem;
}

.logo-icon img {
  width: 126px;
  height: 75px;
}

.cart-item-number {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 0px;
  right: -16px;
  background: #687808;
  color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding-top: 4px;
  text-align: center;
}

.favorite-item-number {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 0px;
  right: -10px;
  background: #687808;
  color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding-top: 4px;
  text-align: center;
}

.cart-item-number > span .icons {
  float: left;
  cursor: pointer;
  margin-right: 0.5em;
}
.cart {
  border: none;
  background-color: #fff;
}

.login {
  font-family: 'Roboto', sans-serif;
  color: #687808;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
}

.icons-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25rem;
}

@media (max-width: 768px) {
  .logo-icon {
    margin: unset;
  }

  .icons-right {
    width: 20rem;
  }

  .login {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .logo-icon {
    margin: unset;
  }

  .logo-icon img {
    width: 80%;
    height: auto;
  }

  .login {
    font-size: 18px;
  }

  .icons-right {
    width: 15rem;
  }
}
