nav {
  width: 100vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.logo-icon {
  float: left;
  cursor: pointer;
  padding-top: 0.5rem;
  margin-left: 5rem;
}

.logo-icon img {
  width: 126px;
  height: 75px;
}

.icons {
  float: left;
  cursor: pointer;
  margin-right: 0.5em;
}
.fav-button{
border: none;
background: #fff;

}


.login {
  font-family: 'Roboto', sans-serif;
  color: #687808;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
}

.icons-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25rem;
}

@media (max-width: 768px) {
  .logo-icon {
    margin: unset;
  }

  .icons-right {
    width: 20rem;
  }

  .login {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .logo-icon {
    margin: unset;
  }

  .logo-icon img {
    width: 80%;
    height: auto;
  }

  .login {
    font-size: 18px;
  }

  .icons-right {
    width: 15rem;
  }
}
