@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'theme.css';

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url('../client/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: DancingScript;
  src: url('../client/assets/fonts/DancingScript-Regular.ttf');
}

@font-face {
  font-family: Inter;
  src: url('../client/assets/fonts/Inter-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
}
