.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.container .label {
  color: #000;
}

.container .form-box {
  width: 400px;
  height: 450px;
  background-color: #ececdb;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 2%;
  align-items: center;
}

.container .header-form {
  margin-bottom: 15px;
}

.container button {
  margin-top: 40px;
  margin-bottom: 10px;
}

.container .message {
  display: flex;
  justify-content: space-between;
}

.container .social {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.container .social i {
  font-size: 35px;
}

.container .social i:hover {
  color: red;
  cursor: pointer;
}

.container .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

.container .heading {
  text-align: center;
  color: #000;
}

.container .form-control {
  width: 100%;
}

.container .btn {
  background: #687808;
  color: #ffff;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  border: 0;
}

.container .form-control2 {
  border: 0;
  width: 80%;
  height: 25px;
  text-align: center;
  font-weight: bolder;
}

.container .createAct {
  color: #687808;
}

.container .googleLogin {
  width: 100%;
  height: auto;
}

.container .eyeIcon {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 8px;
  right: 0;
  padding-right: 5px;
}

.container .inputPass {
  display: block;
}

.container .passDiv {
  width: 100%;
  position: relative;
}

.container .body-box {
  align-items: center;
}
