.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.label {
  color: #000;
}

.form-box {
  width: 380px;
  height: 450px;
  background-color: #ececdb;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 2%;
}

.header-form {
  margin-bottom: 15px;
}

button {
  margin-top: 40px;
  margin-bottom: 10px;
}

.message {
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.social i {
  font-size: 35px;
}

.social i:hover {
  color: red;
  cursor: pointer;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

.heading {
  text-align: center;
  color: #000;
}

.form-control {
  width: 80%;
}

.btn {
  background: #687808;
  color: #ffff;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  border: 0;
}

.form-control2 {
  border: 0;
  width: 80%;
  height: 25px;
  text-align: center;
  font-weight: bolder;
}
